.DuelHalo {
    font-family: 'Times New Roman', Times, serif;
    }
    
    header {
        background-color: gray;
        color:whitesmoke;
        padding: 20px;
        background-image: url(https://raw.githubusercontent.com/HaloCustomEdition/Halo/master/page/halo_banner.jpg);
        background-size: cover;
        background-position: center;
    }
    

    .content {
        padding: 20px;
        font-size: large;
      }

      .text-box{
          border: 1px solid black; 
          padding: 10px; 
          background-color:  rgb(173, 193, 230);
          font-family: 'Times New Roman', Times, serif;
	        padding: 20px;
	        font-size: larger
      }

      .mission{
        text-decoration: underline;
      }

    ul {
        list-style: none;
        padding: 0;
      }
      
    li {
        margin-bottom: 10px;
      }
      
    .footer {
        background-color: gray;
        color: #fff;
        text-align: center;
        padding: 20px;
        background-image: url(https://external-preview.redd.it/X8KiPQs-QolutYFt2pX2cXmkEmctKwzl20POeurmv24.jpg?auto=webp&s=f7c7b910e9e273666ddb29490971228a2e59c1b7);
        background-size: cover;
        background-position: center;
        height: 310px;
      }
    
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav li {
        display: inline-block;
        margin-right: 20px;
    }
    
    nav li:last-child {
        margin-right: 0;
    }
    
    nav a {
        color: whitesmoke;
        text-decoration: none;
    }

    .footer-text {
      color: black;
      background-color: rgba(240, 255, 255, 0.517);
      display: flex;
      font-size: 25px;
      font-family: 'Times New Roman', Times, serif;
      align-items: center;
      padding-left: 25%;
    }
    .footer-text-2{
      color: black;
      background-color: rgba(240, 255, 255, 0.517);
      font-size: 25px;
      font-family: 'Times New Roman', Times, serif;
      align-items: center;
      padding-left: 20%;
    }
      