body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

.container {
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Nav{
	font-size: larger;
}

.Header-Nav{
	background-image: url(https://raw.githubusercontent.com/HaloCustomEdition/Halo/master/page/halo_banner.jpg);
    background-size: cover;
    background-position: center;}

h1 {
	text-align: center;
	margin-bottom: 20px;
	color: black;
}

.DuelHalo {
    text-align: left;
    color: black;
    font-family: 'Times New Roman', Times, serif;
	font-size: 40px
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 10px;
	color: #666;
}

input[type="text"],
input[type="email"],
textarea {
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	background-color: lightblue;
	font-size: 16px;
	color: #333;
}

textarea {
	height: 150px;
	resize: none;
}

button[type="submit"] {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	border-color: black;
	background-color: #333;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
	background-color: #666;
}

.footer-text {
	color: black;
	background-color: rgba(240, 255, 255, 0.517);
	display: flex;
	font-size: 30px;
	font-family: 'Times New Roman', Times, serif;
	align-items: center;
	padding-left: 20%;
  }

  footer {
	background-image: url(https://github.com/Vikster94/images-folder/blob/main/images/halo-infinite-v1-618415.jpg?raw=true);
    background-size: cover;
    background-position: center;
	height:120px
  }
 
	